version: "3.9"

services:
  api:
    build: .
    container_name: park-booking
    command: npm run start          # API entry point
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
      - redis
    restart: unless-stopped

  worker:
    build: .
    container_name: email-worker
    command: npm run worker         # Worker entry point
    env_file:
      - .env
    depends_on:
      - redis
    restart: unless-stopped

  mongo:
    image: mongo:6
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    command: ["mongod", "--quiet"]  # quiet logs
    restart: unless-stopped

  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379"
    restart: unless-stopped

volumes:
  mongo_data:
